      <header>
        <div class="container-fluid container-p-init">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ez_head p-init">
              <div class="col-md-2 col-sm-2 col-xs-2 ez_head_icon p-init">
                 <a href="#mypanel" class=""><img src="images/nav_icon.png" alt="ez nav icon"></a>
              </div>
              <div class="col-md-8 col-sm-8 col-xs-8 p-init" id="custom-search-input">
                  <div class="input-group full-width">
                      <input type="text" class="" placeholder="Search" />
                      <span class="input-group-btn search_btn">
                          <button class="btn btn-danger p-init m-init" type="button">
                              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                          </button>
                      </span>
                  </div>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 p-init text-right">
                <div class="ez_head_cart" data-toggle="modal" data-target="#mobile_modal">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="badge">5</span>
                </div>
                <div class="ez_head_cart hide" data-toggle="modal" data-target="#product_cart">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="badge">5</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>



      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 ez_tabs">
              <div class="col-md-6 col-sm-6 col-xs-6 ez_tabs_tab1 border_right" id="locationList">
                <h4>Location<i class="fa fa-chevron-down"></i></h4>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 ez_tabs_tab2" id="categoryList">
                <h4>Categories<i class="fa fa-chevron-down"></i></h4>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- <div class="collapse" id="ez_location_tab" class="list-hidden">    
        <div class="col-md-12 col-sm-12 col-xs-12 p-init text-center">
          <div class="location_city text-center bg_default">
            <a href="#"><h3>Bangalore</h3></a>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <a href="#"><h5>HSR Layout, Sector 1</h5></a>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <a href="#"><h5>HSR Layout, Sector 2</h5></a>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <a href="#"><h5>HSR Layout, Sector 3</h5></a>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <a href="#"><h5>HSR Layout, Sector 1</h5></a>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <a href="#"><h5>HSR Layout, Sector 2</h5></a>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <a href="#"><h5>HSR Layout, Sector 3</h5></a>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <a href="#"><h5>HSR Layout, Sector 1</h5></a>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <a href="#"><h5>HSR Layout, Sector 2</h5></a>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <a href="#"><h5>HSR Layout, Sector 3</h5></a>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <a href="#"><h5>HSR Layout, Sector 1</h5></a>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <a href="#"><h5>HSR Layout, Sector 2</h5></a>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
            <a href="#"><h5>HSR Layout, Sector 3</h5></a>
          </div>
        </div>
      </div> -->

      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="collapse" id="ez_location_tab" class="list-hidden">
              <div class="location_city text-center bg_default">
                <a href="#"><h3>Bangalore</h3></a>
              </div>   
              <ul class="p-init">
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 clear"><a href="#"><h5>HSR Layout, Sector 1</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>HSR Layout, Sector 2</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>HSR Layout, Sector 3</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>HSR Layout, Sector 4</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>HSR Layout, Sector 5</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>HSR Layout, Sector 6</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>HSR Layout, Sector 7</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>HSR Layout, Sector 8</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>HSR Layout, Sector 9</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>Haralur Road</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>Manganampalya</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>Kasavanahalli</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>Bellandur</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>Sarjapur Road</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>Kudlu Gate</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>Begur Road</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>Singasandra</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>Koramangala</h5></a></li>
                <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4"><a href="#"><h5>Other</h5></a></li>
              </ul>
            </div>    
            <div class="collapse" id="ez_categories_tab" class="list-hidden">    
              <ul class="p-init">
                <li class="clear" id="Beverages"><a href="#">Beverages</a></li>
                <!-- <div class="collapse" id="BeveragesList" class="nested-list-hidden">  
                  <ul class="p-init">
                    <li class="clear"><a href="#">Beverages element 1</a></li>
                    <li><a href="#"><h5>Beverages element 2</h5></a></li>
                    <li><a href="#"><h5>Beverages element 3</h5></a></li>
                    <li><a href="#"><h5>Beverages element 4</h5></a></li>
                  </ul>
                </div> -->
                <li id="Personal Care"><a href="#">Personal Care</a></li>
                <li id="Fruits"><a href="#">Fruits & Vegetables</a></li>
                <!-- <div class="collapse" id="FruitsList" class="nested-list-hidden">  
                  <ul class="p-init">
                    <li class="clear"><a href="#">Fruits element 1</a></li>
                    <li><a href="#"><h5>Fruits element 2</h5></a></li>
                    <li><a href="#"><h5>Fruits element 3</h5></a></li>
                    <li><a href="#"><h5>Fruits element 4</h5></a></li>
                  </ul>
                </div> -->
                <li id="Grocery"><a href="#">Grocery & Staples</a></li>
                <li id="Household"><a href="#">Household</a></li>
                <li id="Diwali"><a href="#">Diwali</a></li>
                <!-- <div class="collapse" id="DiwaliList" class="nested-list-hidden">  
                  <ul class="p-init">
                    <li class="clear"><a href="#">Diwali element 1</a></li>
                    <li><a href="#"><h5>Diwali element 2</h5></a></li>
                    <li><a href="#"><h5>Diwali element 3</h5></a></li>
                    <li><a href="#"><h5>Diwali element 4</h5></a></li>
                  </ul>
                </div> -->
                <li id="Dhanteras"><a href="#">Dhanteras</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      
      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="my-container">
              <button id="left" style="display:inline-block;">Left</button>
              <div class="content-2">
                <div class="content-inside"></div>
              </div>
              <button id="right" style="display:inline-block;">Right</button>
              <script type="text/javascript">
                var listContent = <%- JSON.stringify(data) %>;
              </script>
            </div>
          </div>
        </div>
      </section>
      

      <section>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="category_block">
                <div class="col-xs-9 col-sm-10 col-md-11 col-lg-11 p-init category_title">
                  <h4 class="m-init">Foods and Beverages</h4>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 p-init category_arrow">
                  <i class="fa fa-chevron-left"></i>
                  <i class="fa fa-chevron-right"></i>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 product_block">
                <div class="product_img"></div>
                <div class="caption">
                  <h5>Milton Casserole block</h5>
                  <div class="price-container">
                    <div class="inner-price-container clear">
                      <div class="cart-left-cont pull-left">
                        <span class="btn btn-danger">
                          <i class="fa fa-minus"></i>
                        </span>
                      </div>
                      <div class="cart-right-cont pull-right">
                        <span class="btn btn-success">
                          <i class="fa fa-plus"></i>
                        </span>
                      </div>
                    </div>
                    <div class="price_qan_block clear">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-init tile-skus">
                        <div class="tile-sku-size">
                          <div class="tile-sku-size-info-selected triangle-right">
                            <span>1</span>
                            <span>Box</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-init tile-sku-price">
                        <div class="tile-sku-ourprice">
                          <i class="fa fa-inr"></i>
                          <span>118</span>
                        </div>
                        <del class="item-mrp">
                          <i class="fa fa-inr"></i>
                          <span>471</span>
                        </del>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 product_block">
                <div class="product_img"></div>
                <div class="caption">
                  <h5>Milton Casserole block</h5>
                  <div class="price-container">
                    <div class="inner-price-container clear">
                      <div class="cart-left-cont pull-left">
                        <span class="btn btn-danger">
                          <i class="fa fa-minus"></i>
                        </span>
                      </div>
                      <div class="cart-right-cont pull-right">
                        <span class="btn btn-success">
                          <i class="fa fa-plus"></i>
                        </span>
                      </div>
                    </div>
                    <div class="price_qan_block clear">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-init tile-skus">
                        <div class="tile-sku-size">
                          <div class="tile-sku-size-info-selected triangle-right">
                            <span>1</span>
                            <span>Box</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-init tile-sku-price">
                        <div class="tile-sku-ourprice">
                          <i class="fa fa-inr"></i>
                          <span>118</span>
                        </div>
                        <del class="item-mrp">
                          <i class="fa fa-inr"></i>
                          <span>471</span>
                        </del>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 product_block">
                <div class="product_img"></div>
                <div class="caption">
                  <h5>Milton Casserole block</h5>
                  <div class="price-container">
                    <div class="inner-price-container clear">
                      <div class="cart-left-cont pull-left">
                        <span class="btn btn-danger">
                          <i class="fa fa-minus"></i>
                        </span>
                      </div>
                      <div class="cart-right-cont pull-right">
                        <span class="btn btn-success">
                          <i class="fa fa-plus"></i>
                        </span>
                      </div>
                    </div>
                    <div class="price_qan_block clear">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-init tile-skus">
                        <div class="tile-sku-size">
                          <div class="tile-sku-size-info-selected triangle-right">
                            <span>1</span>
                            <span>Box</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-init tile-sku-price">
                        <div class="tile-sku-ourprice">
                          <i class="fa fa-inr"></i>
                          <span>118</span>
                        </div>
                        <del class="item-mrp">
                          <i class="fa fa-inr"></i>
                          <span>471</span>
                        </del>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 product_block">
                <div class="product_img"></div>
                <div class="caption">
                  <h5>Milton Casserole block</h5>
                  <div class="price-container">
                    <div class="inner-price-container clear">
                      <div class="cart-left-cont pull-left">
                        <span class="btn btn-danger">
                          <i class="fa fa-minus"></i>
                        </span>
                      </div>
                      <div class="cart-right-cont pull-right">
                        <span class="btn btn-success">
                          <i class="fa fa-plus"></i>
                        </span>
                      </div>
                    </div>
                    <div class="price_qan_block clear">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-init tile-skus">
                        <div class="tile-sku-size">
                          <div class="tile-sku-size-info-selected triangle-right">
                            <span>1</span>
                            <span>Box</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-init tile-sku-price">
                        <div class="tile-sku-ourprice">
                          <i class="fa fa-inr"></i>
                          <span>118</span>
                        </div>
                        <del class="item-mrp">
                          <i class="fa fa-inr"></i>
                          <span>471</span>
                        </del>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 product_block">
                <div class="product_img"></div>
                <div class="caption">
                  <h5>Milton Casserole block</h5>
                  <div class="price-container">
                    <div class="inner-price-container clear">
                      <div class="cart-left-cont pull-left">
                        <span class="btn btn-danger">
                          <i class="fa fa-minus"></i>
                        </span>
                      </div>
                      <div class="cart-right-cont pull-right">
                        <span class="btn btn-success">
                          <i class="fa fa-plus"></i>
                        </span>
                      </div>
                    </div>
                    <div class="price_qan_block clear">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-init tile-skus">
                        <div class="tile-sku-size">
                          <div class="tile-sku-size-info-selected triangle-right">
                            <span>1</span>
                            <span>Box</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-init tile-sku-price">
                        <div class="tile-sku-ourprice">
                          <i class="fa fa-inr"></i>
                          <span>118</span>
                        </div>
                        <del class="item-mrp">
                          <i class="fa fa-inr"></i>
                          <span>471</span>
                        </del>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 product_block">
                <div class="product_img"></div>
                <div class="caption">
                  <h5>Milton Casserole block</h5>
                  <div class="price-container">
                    <div class="inner-price-container clear">
                      <div class="cart-left-cont pull-left">
                        <span class="btn btn-danger">
                          <i class="fa fa-minus"></i>
                        </span>
                      </div>
                      <div class="cart-right-cont pull-right">
                        <span class="btn btn-success">
                          <i class="fa fa-plus"></i>
                        </span>
                      </div>
                    </div>
                    <div class="price_qan_block clear">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-init tile-skus">
                        <div class="tile-sku-size">
                          <div class="tile-sku-size-info-selected triangle-right">
                            <span>1</span>
                            <span>Box</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-init tile-sku-price">
                        <div class="tile-sku-ourprice">
                          <i class="fa fa-inr"></i>
                          <span>118</span>
                        </div>
                        <del class="item-mrp">
                          <i class="fa fa-inr"></i>
                          <span>471</span>
                        </del>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 
      
      <section>
        <div class="container-fluid">
          <hr>
          <div class="row">
            <div class="footer-col links col-md-12 col-sm-12 col-xs-12">
              <div class="pull-left">
                <ul class="list-inline payment-method">
                  <li class="cod po">Payment
                    <br>Option</li>
                  <li class="cod">Cash on
                    <br>Delivery</li>
                  <li><i class="fa fa-cc-visa"></i></li>
                  <li><i class="fa fa-cc-mastercard"></i></li>
                </ul>
              </div>
              <div class="pull-right secure">
                <img src="images/comodo-ssl-logo.png" alt="" class="img-responsive"> 
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <footer class="footer">
        <div class="container-fluid">
          <hr>
          <div class="row">
            <div class="footer-col links col-md-2 col-sm-4 col-xs-4">
              <div class="footer-col-inner">
                <ul class="list-unstyled">
                  <li><a href="#">About us</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
              </div>
            </div>
            <div class="footer-col links col-md-2 col-sm-4 col-xs-4">
              <div class="footer-col-inner">
                <ul class="list-unstyled">
                  <li><a href="#">How it works</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Return Policy</a></li>
                </ul>
              </div>
            </div>
            <div class="footer-col links col-md-2 col-sm-4 col-xs-4 sm-break">
              <div class="footer-col-inner">
                <ul class="list-unstyled">
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-bar">
          <div class="container">
            <small>Copyright © <a href="www.ezkirana.com">Ocupado Retail Private Limited</a> 2015</small>
          </div>
        </div>
      </footer>

      <div data-role="panel" id="mypanel" data-position="left" data-display="overlay" class="ui-panel ui-panel-position-left ui-panel-display-overlay ui-body-a ui-panel-animate ui-panel-closed" >
          <div class="logo_block text-center bg_default">
            <img src="images/brand.png" alt="ezkirana" class="img-responsive">
          </div>

          <div class="left_nav_menu">
            <ul class="p-init">
              <li class=""><a href="#">Home</a></li>
              <li class=""><a href="#">Categories</a></li>
              <li class=""><a href="#">Location</a></li>
              <li class=""><a href="#">Sign In</a></li>
              <li class=""><a href="#">Sign Up</a></li>
            </ul>
          </div>
      </div>

      <div id="product_cart" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header clear">
              <button type="button" class="close col-md-2" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
            </div>
          </div>
        </div>
      </div>


      <section>
        <div class="container">
          <div class="row">
            <div id="mobile_modal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 id="myModalLabel" class="col-xs-9 col-sm-10 col-md-11 col-lg-11 p-init modal-title"> Product title </h1>
                    <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1 p-init cart_dismiss_button" data-dismiss="modal">&times;</div>
                  </div>
                  <div class="modal-body">
                    <h2>1. Modal sub-title</h2>

                    <p>Liquor ipsum dolor sit amet bearded lady, grog murphy's bourbon lancer. Kamikaze vodka gimlet; old rip van winkle, lemon drop martell salty dog tom collins smoky martini ben nevis man o'war. Strathmill grand marnier sea breeze b & b mickey slim. Cactus jack aberlour seven and seven, beefeater early times beefeater kalimotxo royal arrival jack rose. Cutty sark scots whisky b & b harper's finlandia agent orange pink lady three wise men gin fizz murphy's. Chartreuse french 75 brandy daisy widow's cork 7 crown ketel one captain morgan fleischmann's, hayride, edradour godfather. Long island iced tea choking hazard black bison, greyhound harvey wallbanger, "gibbon kir royale salty dog tonic and tequila."</p>

                    <h2>2. Modal sub-title</h2>

                    <p>The last word drumguish irish flag, hurricane, brandy manhattan. Lemon drop, pulteney fleischmann's seven and seven irish flag pisco sour metaxas, hayride, bellini. French 75 wolfram christian brothers, calvert painkiller, horse's neck old bushmill's gin pahit. Monte alban glendullan, edradour redline cherry herring anisette godmother, irish flag polish martini glen spey. Abhainn dearg bloody mary amaretto sour, ti punch black cossack port charlotte tequila slammer? Rum swizzle glen keith j & b sake bomb harrogate nights 7 crown! Hairy virgin tomatin lord calvert godmother wolfschmitt brass monkey aberfeldy caribou lou. Macuá, french 75 three wise men.</p>

                    <h2>3. Modal sub-title</h2>

                    <p>Pisco sour daiquiri lejon bruichladdich mickey slim sea breeze wolfram kensington court special: pink lady white lady or delilah. Pisco sour glen spey, courvoisier j & b metaxas glenlivet tormore chupacabra, sambuca lorraine knockdhu gin and tonic margarita schenley's." Bumbo glen ord the macallan balvenie lemon split presbyterian old rip van winkle paradise gin sling. Myers black bison metaxa caridan linkwood three wise men blue hawaii wine cooler?" Talisker moonwalk cosmopolitan wolfram zurracapote glen garioch patron saketini brandy alexander, singapore sling polmos krakow golden dream. Glenglassaugh usher's wolfram mojito ramos gin fizz; cactus jack. Mai-tai leite de onça bengal; crown royal absolut allt-á-bhainne jungle juice bacardi benrinnes, bladnoch. Cointreau four horsemen aultmore, "the amarosa cocktail vodka gimlet ardbeg southern comfort salmiakki koskenkorva."</p>

                  </div>
                  <div class="modal-footer">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 product_checkout_btn"> Checkout Now </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      
      