<div class="my-container">
	<button id="left" style="display:inline-block;">Left</button>
	<div class="content-2">
		<div class="content-inside"></div>
	</div>
	<button id="right" style="display:inline-block;">Right</button>
	<script type="text/javascript">
		var listContent = <%- JSON.stringify(data) %>;
	</script>
</div>
